.slider {
    background-color: white;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: none;
}

.slider-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition-timing-function: cubic-bezier(0.22, 1.61, 0.65, 1);
    transition-duration: 1s;
    background-visibility: hidden;
    transition-delay: .75s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.slide {
    position: absolute;
    top: 0;
    height: 100%;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1.25);
    transition-duration: 5s;
    color: white;
}

.slide .slide-caption {
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s linear;
}

.slide.active {
    transition-delay: 2s;
}

.slide.active .slide-caption {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 2s;
}

.slide-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: 50%;
}

.slide-caption::after {
    content: '';
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0;
    right: -200px;
    height: 100%;
    border-bottom: transparent solid 500px;
    border-left: rgb(0, 0, 0, 0.5) solid 200px;
}

.slide-caption .title {
    font-size: 2rem;
}

.slide-caption .description {
    font-size: 1.5rem;
}

.slide img {
    max-width: 100%;
}

.slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
}

.slider-nav>div {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    z-index: 2;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: .5;
    transition-duration: .25s;
    background-color: transparent;
}

.slider-nav>div:hover {
    opacity: 1;
}

.slider-nav>div.active {
    background-color: white;
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
}