@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gotham/gotham-light.eot.eot?") format("eot"), url("../fonts/gotham/gotham-light.eot.woff2") format("woff2"), url("../fonts/gotham/gotham-light.eot.woff") format("woff"), url("../fonts/gotham/gotham-light.eot.ttf") format("truetype"), url("../fonts/gotham/gotham-light.eot.svg#gotham-light") format("svg");
}
@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham/gotham-dark.eot.eot?") format("eot"), url("../fonts/gotham/gotham-dark.eot.woff2") format("woff2"), url("../fonts/gotham/gotham-dark.eot.woff") format("woff"), url("../fonts/gotham/gotham-dark.eot.ttf") format("truetype"), url("../fonts/gotham/gotham-dark.eot.svg#gotham-black") format("svg");
}
* {
  font-family: gotham-light;
}

p {
  color: #6F6F6F;
  font-size: 1rem;
}

#solutions {
  padding-left: 5%;
  padding-right: 5%;
}
#solutions #solutions-intro {
  text-transform: uppercase;
  background: #FFFFFF;
}
#solutions .solution-item {
  background: #E0E0E0;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
#solutions .solution-item .solution-icon {
  background: #9DC652;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 75px;
  overflow: hidden;
  padding: 25px;
}
#solutions .solution-item h3 {
  font-family: gotham-black;
  margin-bottom: 20px;
}
#solutions .solution-item p {
  margin-bottom: 40px;
}
#solutions .solution-item a {
  border: #6F6F6F solid 3px;
  padding: 10px 40px;
  border-radius: 50px;
  transition: 0.3s;
}
#solutions .solution-item a:hover {
  background: #9DC652;
  border-color: #9DC652;
  color: white;
  text-decoration: none;
}
